/* Comentario : Anatomía de una Regla CSS;

selector { 
	propiedad:valor;
	propiedad:valor;
	propiedad:valor;
}

*/
* {
	outline: 2px red solid;
}

body{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	font-size: 14px;
	color:#b12c02;
	/* color : #333333 ----> color : #333*/
}



header {
	background-color: #333;
	color:#FFF;	
	padding: 10px;
    overflow:auto;	
}



/* Cuando un contenedor no flotante, contiene hijos flotantes {
el contendor padre pierde la capacidad de estirar en su altura.
salvo overflow ---> permite decirle al navegador que hacer cuando 
el contenido es mayor que la caja.	*/

header h1  {
	float :left;
	font-size:28px;
	font-weight: 500;
	/*  Cuidado con rutas relativas, para volver atras uso '..'  
	El padding no afecta el background solo los elementos
	*/
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	padding-left: 70px;
	/* (x,y) ejes x e y. en background position - valores en px Apx Bpx
	right , left, center.    tambien puedo usar doble medidas default
	*/
	background-position: left center;
	/* Admite dos valores tambien, primero ancho, segundo alto, con porcentajes

	cover: pantalla estirada completa;
	alto proporiconal. 

	contain : ajusta al alto de la pantalla.
	ancho proporcional;
	*/
	background-size: contain;
}

header a:hover {
	color:#AAA;
}

header ul li {
	float: right;
	display: inline-block;
	padding: 5px;	

}
header ul li a {	
	color:#FFF;
	text-decoration: none;
	text-align: center;
	

}

nav {	
	margin: 0px;
	list-style: none;
	width:60%;
	float : right;
}


